<html>
<head>
    <title>DEVICES</title>
</head>
<body>
    <h1>Registered Devices</h1>
    <table border="1" bordercolor=#9999FF cellspacing="0" style="table-layout:fixed;width:100%;">
        <colgroup>
            <col style="width:30%;">
            <col style="width:10%;">
            <col style="width:10%;">
            <col style="width:10%;">
            <col style="width:10%;">
            <col style="width:40%;">
        </colgroup>
        <tbody>
            <tr bgcolor=#CCCCFF>
                <th>ID</th>
                <th>OS</th>
                <th>VERSION</th>
                <th>BOARD</th>
                <th>TIME</th>
                <th>LOGS</th>
            </tr>
            {{range $key, $v := .}}
                {{if $v}}
                    <tr>
                        <td style="word-wrap:break-word;">{{$key}}</td>
                        <td style="word-wrap:break-word;">{{$v.Info.Os}}</td>
                        <td style="word-wrap:break-word;">{{$v.Info.OsVersion}}</td>
                        <td style="word-wrap:break-word;">{{$v.Info.Board}}</td>
                        <td style="word-wrap:break-word;">{{$v.Times}}</td>
                        <td style="word-wrap:break-word;">
                            <ul>
                            {{range $i, $log := $v.Logs}}
                                {{if $log}}
                                    <li><a href="{{$log.DlPath}}">{{$log.Path}}</a></li>
                                {{end}}
                            {{end}}
                            </ul>
                        </td>
                    </tr>
                {{end}}
            {{end}}
        <tbody>
    </table>
</body>
</html>
