<html>
<head>
    <title>Go表示ページ</title>
</head>
<body>
    <h1>Firebase Cloud Message</h1>
    <form action="/" method="post">
        <input type="text" name="input_value">
        <input type="submit" name="送信"><br>
    </form>
</body>
</html>
